<div class="bg-white rounded-lg shadow-md p-6 mb-6">
  <h2 class="text-2xl font-bold mb-2">Categories</h2>
  <ul class="space-y-2">
    <li>
      <%= link_to 'All', articles_path, class: "text-blue-500 hover:underline" %>
    </li>
    <% Category.all.each do |category| %>
      <li>
        <%= link_to category.name, articles_path(category_id: category.id), class: "text-blue-500 hover:underline" %>
      </li>
    <% end %>
  </ul>
</div>
